<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">Photo Tourist<span class="glyphicon glyphicon-map-marker" style="font-size:23px;color:#444444;margin-left:5px;"></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Go To <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li ui-sref-active="active">
                <span><span class="glyphicon glyphicon-check"></span><a ui-sref="authn">Authentication Check</a></span></li>
            <li ui-sref-active="{'active': 'images'}">
                <span><span class="glyphicon glyphicon-picture"></span><a ui-sref="images({id:null})">Images</a></span></li>
            <li ui-sref-active="{'active': 'things'}">
                <span><span class="glyphicon glyphicon-camera"></span><a ui-sref="things({id:null})">Attractions</a></span></li>
            <li ui-sref-active="active">
                <span><span class="glyphicon glyphicon-list"></span><a ui-sref="home">Subjects</a></span></li>
          </ul>
          
        </li>
      </ul>
      
      <span class="origin-control navbar-left">
        <sd-current-origin-selector></sd-current-origin-selector>
      </span>

      <ul class="nav navbar-nav navbar-right">
        <li id="login-dropdown" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span id="navbar-loginlabel">{{$ctrl.getLoginLabel()}}</span>
          <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><sd-authn-session></sd-authn-session></li>
          </ul>
        </li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>